<div ng-controller="hangGame" class="container-fluid" >
	<div class="row">
		<div class="card-box col-xs-12 cor-cardT1" style="padding: 30px" >
			<div class="row">
				<a href="#pooping">
				<div class="col-xs-6" style="border-right:1px solid black" >
					<center><label class="text-lg" style="color:white; font-size:40px">FACTS</label></center>
				</div>
				</a>

				<a href="#hangGame">
				<div class="col-xs-6">
					<center><label class="text-lg" style="color:white; font-size:40px">GET PAPER!!!</label></center>
				</div>
				</a>
			</div>
		</div>
	</div>
	<center><img width="300px" height="auto" src="assets/nopaper.png"></center>
	<br>
	<br>
	<h1>To get some paper you need to win on rock paper scissors</h1>
	<br>
	<br>
	<div class="row">
		<div class="col-xs-4" ng-click="play(1)">
			<img width="300px" height="auto" src="assets/rock.png">
		</div>
		<div class="col-xs-4" ng-click="play(2)">
			<img width="300px" height="auto" src="assets/paper.png">
		</div>
		<div class="col-xs-4" ng-click="play(3)">
			<img width="300px" height="auto" src="assets/scissor.png">
		</div>
	</div>

	<div ng-show="showWin" class="card-box-redondo" style="position:absolute; margin-top:20%; top:950px; width:100%">
		<center><text style="color:green; font-size:200px;">WIN</text></center>
	</div>
	<div ng-show="showDraw" class="card-box-redondo" style="position:absolute; margin-top:20%; top:950px; width:100%">
		<center><text style="color:yellow; font-size:200px;">DRAW</text></center>
	</div>
	<div ng-show="showLost" class="card-box-redondo" style="position:absolute; margin-top:20%; top:950px; width:100%">
		<center><text style="color:red; font-size:200px;">LOSE</text></center>
	</div>

	<center><h2>Choose wisely</h2></center>
	
	<center><img ng-src="{{imgGame}}" width="300px" height="auto"></center>
	
</div>