<div class="container-fuid"  style="background-color:#f1f1f1">
	<div class="row">
		<div class="card-box col-xs-12" style="padding: 30px" >
			<div class="row">
				<div class="col-sm-4">
					<button class="btn btn-primary btn-circle"><label class="text-lg" style="color:blue">Quiz</label></button>
				</div>
				<div class="col-sm-4">
					<button class="btn btn-primary btn-circle">Outra coisa</button>
				</div>
				<div class="col-sm-4">
					<button class="btn btn-primary btn-circle">Another</button>
				</div>
			</div>
		</div>
		<div class="card-box col-xs-12">
			<div class="row">
				<div class="col-xs-12">
					<label class="text-lg ">Do you Know?</label><br>
					<label class="text-muted text-md">There is a pill that makes you poop gold and it is soft for $275</label><br>
					<br>
					<label class="text-muted text-md">The oldest human poop that has been discovered till date is actually 50,000 years old!</label>
				</div>
			</div>
		</div>
		<div class="card-box col-xs-12">
			<div class="row">
				<div class="col-xs-12">
					<label class="text-lg ">Tips</label><br>
					<label class="text-muted text-md">Line the inside of the toilet bowl with toilet paper which will prevent any ‘plopping’ sounds.</label><br>
					<br>
					<label class="text-muted text-md">The serene sounds of running water may help you relax in your pursuit of emptying your bowels.</label>
				</div>
			</div>
		</div>
		<div class="card-box col-xs-12">
			<div class="row">
				<div class="col-xs-12">
					<div class="card-box-pergunta col-xs-12">
						<div class="col-xs-12">
							<label class="text-lg text-letra-md" style="color:white">Qual é a capital do Mexico sabendo que estas em 2031?</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<button class="btn btn-primary btn-resposta col-sm-12">Lisboa</button>
					</div>
					<div class="col-sm-6">
						<button class="btn btn-primary btn-resposta col-sm-12">New York</button>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-6">
						<button class="btn btn-primary btn-resposta col-sm-12">Porto</button>
					</div>
					<div class="col-sm-6">
						<button class="btn btn-primary btn-resposta col-sm-12">Ermesinde</button>
					</div>
				</div>		
			</div>
		</div>
	</div>
</div>