<div class="container-fluid"  style="background-color:#f1f1f1">
	<div class="row">
		<div class="card-box col-xs-12 cor-cardT1" style="padding: 30px" >
			<div class="row">
				<a href="#pooping">
				<div class="col-xs-6" style="border-right:1px solid black" >
					<center><label class="text-lg" style="color:white; font-size:40px">FACTS</label></center>
				</div>
				</a>

				<a href="#hangGame">
				<div class="col-xs-6">
					<center><label class="text-lg" style="color:white; font-size:40px">GET PAPER!!!</label></center>
				</div>
				</a>
			</div>
		</div>
		<div class="card-box col-xs-12" style="padding:40px; background-color:#FFFF4E">
			<div class="row">
				<div class="col-xs-12">
					<label class="text-xl ">Do You Know?</label><br>
					<label class="text-dyn text-md">There is a pill that makes you poop gold and it is soft for $275</label><br>
					<br>
					<label class="text-dyn text-md">The oldest human poop that has been discovered till date is actually 50,000 years old!</label><br><br>
					<label class="text-dyn text-md">Penguin poop can be seen from space</label><br><br>
					<label class="text-dyn text-md">Your poop is about 75% water</label><br><br>
					<label class="text-dyn text-md"> Along with landing on the moon, Neil Armstrong also left four bags of poop behind</label>
				</div>
			</div>
		</div>
		<div class="card-box col-xs-12" style="padding:40px; background-color:#c6b08b">
			<div class="row">
				<div class="col-xs-12">
					<label class="text-xl text-tip">Tips</label><br>
					<label class="text-tip text-md">Line the inside of the toilet bowl with toilet paper which will prevent any ‘plopping’ sounds.</label><br>
					<br>
					<label class="text-tip text-md">The serene sounds of running water may help you relax in your pursuit of emptying your bowels.</label><br><br>
					<label class="text-tip text-md">Most companies or local authorities are responsible for managing public restroom facilities and want to be told when their toilets are in disarray. Complaints from consumers do matter.</label><br><br>
					<label class="text-tip text-md">The initial bathrooms in a given row of a public restroom tends to be the most used one. You’re better off going a little further down, where things tend to be tidier</label>
				</div>
			</div>
		</div>
	</div>
</div>