<div ng-controller="profile" class="container-fluid"  style="background-color:#f1f1f1" ng-init="init()">
	<div class="row">
		<div class="card-box col-xs-12" style="padding-top:70px">
			<div class="row">
				<div class="col-xs-12">
					<center>
						<div>
							<img src="assets\lula.jpg"  style="height: 200px; width: 200px; border-radius: 100px; border: 4px solid lightgrey;" >
						</div>
						<br>
						<div>
							<label class="text-lg">{{user.name}}</label>
						</div>
						<div>
							<label class="text-lg">3458 XP</label>
						</div>
						<div>
							<label class="text-md">67 poops • 45 rates</label>
						</div>
					</center>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card-box cor-cardT1 col-xs-12">
			<div class="row">
				<div class="col-xs-12">
					<label class="text-lg cor-achievTitulo">Achievments</label>	
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card-box-redondo">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-2">
									<img src="assets\first.png"  style="height: auto; width: 100px;" >
								</div>
								<div class="col-xs-10">
									<div>
										<label class="text-lg">First Poop</label>
									</div>
									<div>
										<label class="text-md text-muted">Take the first poop</label>
									</div>
								</div>
							</div>
						</div>		
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card-box-redondo">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-2">
									<img src="assets\wcFirst.png"  style="height: auto; width: 130px;" >
								</div>
								<div class="col-xs-10">
									<div>
										<label class="text-lg">Poop Armstrong</label>
									</div>
									<div>
										<label class="text-md text-muted">Take a poop in a never rated place</label>
									</div>
								</div>
							</div>
						</div>		
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card-box-redondo">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-2">
									<img src="assets\2poops.png"  style="height: auto; width: 130px;" >
								</div>
								<div class="col-xs-10">
									<div>
										<label class="text-lg">Whoops I did it again</label>
									</div>
									<div>
										<label class="text-md text-muted">Take two poops in the same place</label>
									</div>
								</div>
							</div>
						</div>		
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card-box-redondo">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-2">
									<img src="assets\serial-pooper.png"  style="height: auto; width: 150px;" >
								</div>
								<div class="col-xs-10">
									<div>
										<label class="text-lg">Serial Pooper</label>
									</div>
									<div>
										<label class="text-md text-muted">Take 20 poops</label>
									</div>
								</div>
							</div>
						</div>		
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card-box-redondo">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-2">
									<img src="assets\school.png"  style="height: auto; width: 150px;" >
								</div>
								<div class="col-xs-10">
									<div>
										<label class="text-lg">School Pooper</label>
									</div>
									<div>
										<label class="text-md text-muted">Take a poop in a educational centre</label>
									</div>
								</div>
							</div>
						</div>		
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card-box-redondo">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-2">
									<img src="assets\travel.png"  style="height: auto; width: 150px;" >
								</div>
								<div class="col-xs-10">
									<div>
										<label class="text-lg">Gas n' Poop</label>
									</div>
									<div>
										<label class="text-md text-muted">Take a poop in a gas station</label>
									</div>
								</div>
							</div>
						</div>		
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card-box-redondo">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-2">
									<img src="assets\shop.png"  style="height: auto; width: 150px;" >
								</div>
								<div class="col-xs-10">
									<div>
										<label class="text-lg">Shop n' Poop</label>
									</div>
									<div>
										<label class="text-md text-muted">Take a poop in a shopping centro</label>
									</div>
								</div>
							</div>
						</div>		
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card-box-redondo">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-2">
									<img src="assets\.png"  style="height: auto; width: 150px;" >
								</div>
								<div class="col-xs-10">
									<div>
										<label class="text-lg">One poop to rule them all</label>
									</div>
									<div>
										<label class="text-md text-muted">Be the first user to give a rating</label>
									</div>
								</div>
							</div>
						</div>		
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card-box-redondo">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-2">
									<img src="assets\eat.png"  style="height: auto; width: 150px;" >
								</div>
								<div class="col-xs-10">
									<div>
										<label class="text-lg">Eat n' Poop</label>
									</div>
									<div>
										<label class="text-md text-muted">Take a poop in a restaurant</label>
									</div>
								</div>
							</div>
						</div>		
					</div>	
				</div>
			</div>
		</div>
	</div>
	</div>
</div>