<div ng-controller="resultsRestroom" class="container-fuid" style="background-color:#f1f1f1" ng-init="init()">
	<div class="card-box cor-cardT1">
		<div class="row">
			<div class="col-xs-12">
				<b><label class="cor-titulo1" style="font-size:35px"><span class="glyphicon glyphicon-globe"></span> CLOSEST PLACES TO YOUR LOCATION</label></b>	
			</div>
		</div>
	</div>
		
		<div class="list-group">
			<a class="list-group-item card-box-redondo cor-card1 list-group-item-action flex-column align-items-start" ng-repeat="place in nearRestrooms" ng-click="openRestroom(place)">
				    <div class="row">
			    	<div class="col-sm-2">
			    		<div>
							<img ng-src="{{place.photos[0].getUrl({'maxWidth': 500, 'maxHeight': 500})}}"  style="height: 150px; width: 150px; border-radius: 100px; border: 4px solid lightgrey;" >
						</div>
						<center>
							<div>
								<label class="text-md cor-letra-md">100 m</label>
							</div>
						</center>
			    	</div>

			    	<div class="col-sm-10" style="padding-left:50px">
					    <div class="d-flex w-100 justify-content-between">
					     	<label class="text-lg cor-letra-md">{{place.name}}</label><br>
					     	<label class="text-md text-muted ">{{place.vicinity}}</label>
					     	<div class="row" style="padding-left:10px">
					     		<div class="col-sm-8">
					     			<div class="row">
							     		<img src="assets/poop-rank.png" width="80px" height="auto">
							     		<img src="assets/poop-rank.png" width="80px" height="auto"> 
							     		<img src="assets/poop-rank.png" width="80px" height="auto"> 
							     		<img src="assets/poop-rank.png" width="80px" height="auto"> 
							     		<img src="assets/poop-rank.png" width="80px" height="auto">
					     			</div>
					     		</div>
					     		<div class="col-sm-4">
					     			<div class="row">
					     				<img src="assets/CFB.png" width="80px" height="auto">
					     				<img src="assets/CFB.png" width="80px" height="auto">

					     				<img src="assets/CFB.png" width="80px" height="auto">
					     			</div>
					     		</div>
					     	</div>
					     	</div>
					     	
					     
					    </div>
				    </div>
			    </div>
			  </a>
		 </div>
		<div class="card-box cor-cardT2">
		<div class="row">
			<div class="col-xs-12">
				<label class="text-lg cor-titulo1">BEST PLACES NEAR YOUR LOCATION</label>	
			</div>
		</div>
	</div>
	</div>
</div> 